<nav class="navbar navbar-expand-lg fixed-top navbar-white bg-white " aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/" aria-label="Veggie Shop Home">
            <img src="/images/logo-png.png" alt="Veggie Shop Logo" style="height: 45px; width: auto; margin-right: 8px;">
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Welcome to Veggie Shop!' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle.includes('Product') ? 'active' : '' %>" href="/products">Products</a>
                </li>
            </ul>

            <!-- Search Bar -->
            <form class="d-flex mt-1" action="/products" method="GET" role="search" aria-label="Search products">
                <input class="form-control me-1" type="search" placeholder="Search Products" aria-label="Search" name="search" value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link position-relative <%= pageTitle === 'Your Shopping Cart' ? 'active' : '' %>" href="/cart" title="View Cart" aria-label="View Cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <% if (cartItemCount > 0) { %>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <%= cartItemCount %>
                                    <span class="visually-hidden">items in cart</span>
                                </span>
                            <% } %>
                        </a>
                    </li>
                    <% if (currentUser && global.appData.orders.some(order => order.userId === currentUser.id)) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= pageTitle === 'Order History' ? 'active' : '' %>" href="/order/history">Order History</a>
                        </li>
                    <% } %>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <%= currentUser ? currentUser.email.split('@')[0] : 'Account' %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAccountDropdown">
                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link <%= pageTitle === 'Log In' ? 'active' : '' %>" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= pageTitle === 'Sign Up' ? 'active' : '' %>" href="/auth/signup">Sign Up</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>
</nav>
